<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNetWorking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>95D37B501F4FBC6800A609BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95D37B691F4FBC6900A609BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95D37B741F4FBC6900A609BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
